*
!.gitignore
!upload/
!default/
!default/*.*

!default/ImgPlates/
!default/ImgPlates/KFC/
!default/ImgPlates/KFC/*.*

!default/ImgPlates/MC/
!default/ImgPlates/MC/*.*

!default/ImgPlates/PIZZERIA-TOTO/
!default/ImgPlates/PIZZERIA-TOTO/*.*

!default/ImgPlates/POKE/
!default/ImgPlates/POKE/*.*

!default/ImgRestaurant/
!default/ImgRestaurant/*.*

!default/logo/
!default/logo/*.*

!default/icon/
!default/icon/*.*

