*
!.gitignore
!upload/
!default/
!default/*.*

!default/ImgPlates/
!default/ImgPlates/KFC/
!default/ImgPlates/KFC/*.*

!default/ImgPlates/MC/
!default/ImgPlates/MC/*.*

!default/ImgPlates/PIZZERIA-TOTO/
!default/ImgPlates/PIZZERIA-TOTO/*.*

!default/ImgPlates/POKE/
!default/ImgPlates/POKE/*.*

!default/ImgPlates/DOMINOS/
!default/ImgPlates/DOMINOS/*.*

!default/ImgPlates/BRASILIANO/
!default/ImgPlates/BRASILIANO/*.*

!default/ImgPlates/CINESE/
!default/ImgPlates/CINESE/*.*

!default/ImgPlates/BURGERKING/
!default/ImgPlates/BURGERKING/*.*

!default/ImgRestaurant/
!default/ImgRestaurant/*.*

!default/logo/
!default/logo/*.*

!default/logoRestaurant/
!default/logoRestaurant/*.*

!default/icon/
!default/icon/*.*

