/*---------------------
        MAIN BUTTONS
    ----------------------*/
.btn-main {
    border-radius: 1.1rem;
    padding: 0.625rem 0.925rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.btn-main:hover {
    color: black;
    text-decoration: none;
}

.btn-purple {
    background-color: var(--primary-purple);
}

.btn-edit {
    background-color: var(--edit-color);
}

.btn-delete {
    background-color: var(--delete-color);
}
