
     /*---------------------
        MAIN BUTTONS
    ----------------------*/
    .btn-main{
        border-radius: 1.1rem;
        background-color: var(--primary-purple);
        padding: .625rem .925rem;
        color: white;
        font-weight: bold;
        text-decoration: none;  
    }

   
  
