:root {
    /*------------------------------
        LAYOUT COLORS
    ------------------------------*/
    --primary-purple: #9667e0;
    --primary-purple-opacity: #9567e08a;
    --secondary-purple: #d4bbfc;
    --tertiary-purple: #fbfaff;
    --tertiary-purple-opacity: #fbfaff88;
    --primary-gray: #bebdbd;

    --edit-color: #fd7e14;
    --delete-color: rgb(160, 4, 4);
    --delete-color-opacity: rgb(212, 2, 2);


    /*------------------------------
        CATEGORY COLORS
    ------------------------------*/
}
