:root{
    /*------------------------------
        LAYOUT COLORS
    ------------------------------*/
    --primary-purple: #9667E0;
    --secondary-purple: #D4BBFC;
    --tertiary-color:#FBFAFF;
    --primary-gray: #BEBDBD;

    /*------------------------------
        CATEGORY COLORS
    ------------------------------*/
    
}