:root {
    /*------------------------------
        LAYOUT COLORS
    ------------------------------*/
    --primary-purple: #9667e0;
    --secondary-purple: #d4bbfc;
    --tertiary-purple: #fbfaff;
    --tertiary-purple-opacity: #fbfaff88;
    --primary-gray: #bebdbd;

    /*------------------------------
        CATEGORY COLORS
    ------------------------------*/
}
