:root {
    /*╔════════════════════════════╗
              COLORS
    ╚════════════════════════════╝*/

    --clr-bg-grey-dar: rgb(216, 222, 233);
    --clr-bg-grey-nor: rgb(229, 233, 240);
    --clr-bg-grey-lit: rgb(236, 239, 244);

    /*╔════════════════════════════╗
          COMPONENT DIMENSION
    ╚════════════════════════════╝*/
    /* width */
    --wdt-container-xl: 80rem;
    /* height */
    --hgt-item: 4rem;
    --hgt-item-lg: 4.5rem;
    --hgt-item-sm: 2.5rem;

    /*╔════════════════════════════╗
                GUTTERS
    ╚════════════════════════════╝*/
    --space-unit: 1rem;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
