.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;

    &-sx {
        width: 25%;
        border-radius: 1.5rem;
        background-color: var(--secondary-purple);
        ul {
            li {
                line-height: 1.75rem;
                a {
                    color: inherit;
                    text-decoration: none;
                    opacity: 0.8;
                    font-weight: 600;
                }
            }
        }
        .section-title-container {
            display: flex;
            .section-title {
                background-color: var(--primary-purple);
                color: white;
                padding: 0.3125rem;
                width: 80%;
            }
            .triangle-element {
                width: 2.0656rem;
                background-color: var(--primary-purple);
                transform: skewX(45deg);
                margin-left: -16.8px;
            }
        }
    }
    &-dx {
        width: 25%;
        border-radius: 1.5rem;
        background-color: var(--secondary-purple);
        min-height: 50vh;
        flex-grow: 1;
    }
}

/*------------------
    EFFECTS
------------------*/
.menu-sx {
    ul {
        li:hover {
            a {
                opacity: 1;
            }
        }
    }
}
