.menu {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    

    &-sx {
        width: 33%;
        border-radius: 5%;
        background-color: var(--secondary-purple);
        ul{
            li{
                line-height: 1.75rem;
                a{
                    color: inherit;
                    text-decoration: none;
                }
                
            }
        }
       .section-title-container{
        display: flex;
            .section-title{
                background-color: var(--primary-purple);
                color: white;
                padding: .3125rem;
                width: 60%;
            }
            .triangle-element{
               width: 2.0656rem;
                background-color: var(--primary-purple);
                transform: skewX(45deg);
                margin-left: -17px;
            }
       }
       
    }
    &-dx {
        flex-grow: 1;
    }
}