.login-main {
    height: calc(100vh - 87px);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 100%;
    }
}

.login-card {
    background-color: var(--secondary-purple);
    border-radius: 1.25rem;
    max-width: 28.125rem;
    .card-body {
        padding: 8rem 0;
        width: 70%;
        #email,
        #password {
            width: 100%;
        }
        label {
            font-weight: bold;
        }
        input {
            border-radius: 1rem;
        }
    }
}

.register-card {
    background-color: var(--secondary-purple);
    border-radius: 1.25rem;
    .card-body {
        padding: 4rem 0;
        min-width: 100%;
        #email,
        #password {
            width: 100%;
        }
        label {
            font-weight: bold;
            word-wrap: none;
        }
        input {
            border-radius: 1rem;
        }
        .form-group.row {
            width: 80%;
        }
        .form-check-label {
            min-width: 100%;
            word-wrap: none;
        }
    }
}

#app {
    position: relative;
    z-index: 11;
}


/*--------------------
    MEDIA QUERYS
----------------------*/
@media screen and (max-width: 768px ) {
    .col-svg{
        display: none;
    }
    .login-card{
        .card-body{
            width: 90%;
        }
    }
}   