.login-card{
    background-color: var(--secondary-purple);
    border-radius: 1.25rem;
    max-width: 28.125rem;
    .card-body{
        padding: 8rem 0;
        width: 70%;
        label{
            font-weight: bold;
        }
        #email, #password{
            width: 12.5rem;
        }
        input{
            border-radius: 1rem;
        }
    }
}