.container.plate {
    .cards {
        position: relative;
        height: calc(85vh - 2rem);
        .icon {
            display: block;
            aspect-ratio: 1/1;
            width: 1rem;
        }
        &-product {
            height: 10rem;
        }

        &-header {
            padding: var(--p-sm) var(--p-lg);
            position: relative;
            z-index: 1;
            color: var(--tertiary-purple);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            background-color: var(--primary-purple);
            border-radius: var(--border-radius);
        }

        &-body {
            position: relative;
            top: -2.5rem;
            overflow: hidden;
            margin: 0 var(--m-lg);
            background-color: var(--tertiary-purple-opacity);
            border: 1px solid var(--primary-purple);
            border-radius: var(--border-radius);
            height: 95%;
            .show-img img{
                width: 35%;
            }
        }

        &-postcard {
            padding: 0;
            &-img {
                object-fit: cover;
                aspect-ratio: 1/1;
                width: 100%;
            }
        }

        &-info {
            padding: var(--p-md);
            padding-top: 4rem;
        }

        &-display {
            overflow: scroll;
            height: 100%;
            padding-bottom: 4rem;
        }

        .img-edit {
            aspect-ratio: 1/1;
            width: 10rem;
        }

        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            text-overflow: "...";
        }

        &-categories {
            &-pillow {
                background-color: var(--tertiary-purple);
                color: var(--primary-purple);
                border-radius: var(--border-radius);
                font-weight: bold;
            }
        }
    }
}

